#edit-title-0-value--description {
  position: fixed;
  border: 2px solid black;
  padding: 0px;
  height: auto;
  width: 25rem;
  right: 5px;
  bottom: 20px;
  z-index: 99;
  background-color: white;
}

#edit-title-0-value--description td { 
  background-color: white; 
  height: auto; 
  padding: 0 0.3rem; 
} 

#source_text {
  padding: .3rem;
}

#abbrev_text, #source_text {
  display: none;
}

#open_abbrev, #open_source, #close_abbrev, #close_source {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  cursor: pointer;
  padding: .3rem;
}

#open_abbrev, #close_abbrev {
  background-color: yellow;
  border-bottom: 1px solid black;
}


#open_source, #close_source {
  background-color: lightgreen;
  border-top: 1px solid black;
}


#close_abbrev, #close_source {
  display: none;
}


